<form (ngSubmit)="onSubmit()" *ngIf="model">
  <label for="name">Nom</label>
  <input id="name" [(ngModel)]="model.name" name="name" /> <br />
  <label for="species">Espèce</label>
  <input id="species" [(ngModel)]="model.species" name="species" /> <br />
  <label for="veterinarian">Vétérinaire</label>
  <input
    id="veterinarian"
    [(ngModel)]="model.veterinarian"
    name="veterinarian"
  />
  <br />
  <label for="comment">Commentaire</label>
  <textarea id="comment" [(ngModel)]="model.comment" name="comment"></textarea>
  <br />
  <button type="submit">Envoyer</button>
</form>
